@import url("../global/global.css");

body {
    font-family: montserrat, sans-serif;
}
.container {
    max-width: 1000px;
    margin: 10px auto;
    padding: 15px;
    background: var(--corMain2);
}
h2,p {
    margin: 10px
}
h2 {
    font-size: 1.8rem;
}
h3  {
    font-size: 1.4rem
}
h3,h2 {
    letter-spacing: 1px;
    font-family: Righteous, serif;
}