@import url(../global/global.css);

main {
	height: 596px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 500px;
  justify-items: center;
  align-items: center;
  background: url("img/codewave.jpg")
}

.card {
	position: relative;
	isolation: isolate;
	width: 425px;
	height: 250px;
	background: linear-gradient(0deg, var(--corAzul5), var(--corAzul4));
	border-radius: 8px;
}

.card__image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 0 20%;
	border-radius: inherit;
	transition: transform .4s;
}

.card__category {
	font-size: 1.2rem;
}

.card__author {
	font-size: .9rem;
}

.card:hover .card__image {
	transform: translateY(-112px) scale(0.75);
}

.card__body {
	position: absolute;
	inset: 0;
	z-index: -1;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	padding: 24px;
	color: var(--corMain1);
}

.card__category {
	color: #fff;
}

.card__button {
	display: inline-block;
	text-decoration: none;
	padding: 10px 15px;
	border-radius: 4px;
	background-color: var(--corAzul4);
	color: var(--corMain1);
	transition: 250ms;
}

.card__button:hover{
	background-color: var(--corAzul2);
}

@media screen and (max-width: 768px) {

	main {
		height: 800px;
	}

	.container {
		display: flex;
		flex-direction: column;
	}

	.card {
		position: relative;
		top: 10%;
		margin: 10%;
	}
}